.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase
a
  color: inherit
  &:hover
    text-decoration: none
