mixin menuItem($name,$icon,$href,$active)
  .menu__item
    a(href=$href class="menu__link "+$active)
      .menu__icon
        svg(class="icon icon--"+$icon)
          use(xlink:href="img/svg-sprite.svg#"+$icon)
      span.menu__item-name=$name


  
